

.badge.returned {
    background-color: #28a745;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
  }
  
  .badge.not-returned {
    background-color: #dc3545;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
  }
  
  .badge.returned {
    background-color: #28a745;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
  }
  
  .badge.not-returned {
    background-color: #dc3545;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
  }
  
  .btn-approve {
    background-color: #28a745;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-reject {
    background-color: #dc3545;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .badge-warning {
  background-color: #ffc107;
  color: white;
}
.badge-info {
  background-color: #0984f7;
;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
}
